@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
    text-decoration: none;
    list-style: none;
}

.container{
    padding: 3% 8%;
}

.wallpaper{
    background-image: url(https://img.freepik.com/fotos-gratis/tv-no-conceito-de-natureza_23-2150246083.jpg?w=996&t=st=1684259688~exp=1684260288~hmac=5b6ab8b2b476b8e1d2b1e8650f00da68b8401442476c0eb12ab242d558838b18);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: overlay;
    padding: 264px;
}

.menu{
    background-color: #4682B4;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menu ul{
    display: flex;
    align-items: center;
}

.menu ul a{
    color: White;
    text-shadow: black 2px 2px 2px;
    padding: 20px 40px;
    margin: 0px;
    font-size: 18px;
    display: block;
}

.menu ul a:hover{
    background-color: #ADD8E6;
}

.title{
    display: flex;
    background-color: #4682B4;
    justify-content: center;
    padding: 55px 0;
}

.title-text, h2{
    color: White;
    font-size: 24px;
    text-shadow: black 2px 2px 2px;
}

p{
    text-align: justify;
    font-size: 20px;
}

img{
    border-radius: 10px;
}

.img1{
    float: left;
    padding-right: 25px;
}

.img2{
    float: right;
    padding-left: 25px;
    padding-bottom: 10px;
}

.conteudo{
    background-color: #4682B4;
}

.prod{
    text-align: center;
    display: inline-block;
    width: 33%;
    padding-top: 3%;
}

figcaption{
    font-size: 20px;
    background-color: white;
    position: relative;
    top: -15px;
    margin: 0px 63px;
    padding: 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-prod{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p-cont{
    color: white;
}

.prod a{
    color: black;
}

.quad{
    text-align: center;
    display: inline-block;
    justify-content: center;
}