@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

.container{
    padding: 3% 8%;
}

.wallpaper{
    background-image: url(https://s2.glbimg.com/GrLH_YDax2LoJe4Rx7_ZVcs5RDE=/smart/e.glbimg.com/og/ed/f/original/2019/12/10/david_hasselhof.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 295px;
}

.title{
    display: flex;
    background-color: #4682B4;
    justify-content: center;
    padding: 55px 0;
    color: White;
    font-size: 24px;
    text-shadow: black 2px 2px 2px;
}

.text{
    padding-bottom: 31%;
}

.text-p1{
    padding-right: 3%;
    width: 50%;
    float: left;
    text-align: justify;
    font-size: 20px;
}

.text-p2{
    padding-left: 3%;
    width: 50%;
    float: right;
    text-align: justify;
    font-size: 20px;
}

.adic{
    background-color: #4682B4;
}

ul{
    background-color: white;
    border-style: solid;
    border-color: #ADD8E6;
    box-shadow: black 0px 0px 6px;
    border-radius: 10px;
    border-width: 5px;
    padding: 30px 60px;
}

.info h2{
    color: White;
    text-shadow: black 2px 2px 2px;
}

.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    padding-top: 3%;
}

.imagens-serie h2{
    color: black;
    text-shadow: #ADD8E6 2px 2px 2px;
}

.imagens{
    text-align: center;
    display: inline-block;
    width: 33%;
    padding-top: 3%;
}

.imagens img{
    border-radius: 10px;
    box-shadow: black 2px 2px 4px;
}